<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>ISDCF Facilities List</title>
  <script type="application/javascript" src="facilities.js" defer></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light d-print-block d-flex justify-content-between">
    <a class="navbar-brand" href="#">ISDCF Facilities List</a>
    <ul class="navbar-nav align-items-center">
      <li>
        <a id="pdf-download" class="mx-3 btn btn-primary btn-sm d-print-none" title="Download as PDF"
          href="{{pdf_path}}">Download as PDF</a></li>
      <li>
        <form class="form-inline">
          <input id="search" class="form-control d-print-none" type="search" placeholder="Search Facilities"
            aria-label="Search">
        </form>
      </li>
    </ul>
  </nav>
  <table class="table table-small table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" width="4em">Code</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {{#data}}
      <tr id="facility-{{code}}">
        <td class="code"><code>{{code}}</code></td>
        <td class="description">{{description}}
          {{#obsolete}}
            <span class="ml-3 badge badge-danger">Deprecated</span>
            {{#if obsoletedBy}}
              <span class="text-danger">Replaced by:</span>
            {{/if}}
            {{#obsoletedBy}}
              <a href="#facility-{{this}}">{{this}}</a>
            {{/obsoletedBy}}
          {{/obsolete}}
        </td>
      </tr>
      {{/data}}
    </tbody>
  </table>
  <footer class="container footer font-small justify-content-between">
    <small class="text-muted">
      <p class="text-center">Version: <code>{{version}}</code></p>
      <p class="text-center">Generated on {{date}}</p>
    </small>
  </footer>
</body>

</html>